[data-theme="dark"] {
  --text-color: #dcdccc;
  --container-background: #3f3f3f;
  --pane-background: #4f4f4f;
  --divider-color: #6f6f6f;
  --todo-background: #4f4f4f;
  --todo-border: #6f6f6f;
  --todo-focus-border: #7f7f7f;
  --todo-completed-background: #2f2f2f;
  --todo-completed-color: #a0a0a06e;
  --todo-selected-background: #6f6f6f;
  --todo-selected-border: #8f8f8f;
  --button-background: #6f6f6f;
  --button-active-background: #5f5f5f;
  --button-hover-background: #7f7f7f;
  --input-background: #3f3f3f;
  --input-border: #6f6f6f;
  --scrollbar-track: #3f3f3f;
  --scrollbar-thumb: #6f6f6f;
}

[data-theme="light blue"] {
  --text-color: #00008b;
  --container-background: #e6f0ff;
  --pane-background: #d9e6f2;
  --divider-color: #0073e6;
  --todo-background: #cce0ff;
  --todo-border: #99c2ff;
  --todo-focus-border: #3399ff;
  --todo-completed-background: #b3d1ff;
  --todo-completed-color: #666699;
  --todo-selected-background: #3399ff;
  --todo-selected-border: #3399ff;
  --button-background: #99c2ff;
  --button-active-background: #0059b3;
  --button-hover-background: #0073e6;
  --input-background: #e6f0ff;
  --input-border: #99c2ff;
  --scrollbar-track: #e6f0ff;
  --scrollbar-thumb: #99c2ff;
}

[data-theme="dark blue"] {
  --text-color: #dcdccc;
  --container-background: #36467a;
  --pane-background: #36467a;
  --divider-color: #262b53;
  --todo-background: #262b53;
  --todo-border: #6f6f6f;
  --todo-focus-border: #3399ff;
  --todo-completed-background: #b3d1ff;
  --todo-completed-color: #666699;
  --todo-selected-background: #3399ff;
  --todo-selected-border: #3399ff;
  --button-background: #262b53;
  --button-active-background: #0059b3;
  --button-hover-background: #0073e6;
  --input-background: #262b53;
  --input-border: #262b53;
  --scrollbar-track: #e6f0ff;
  --scrollbar-thumb: #99c2ff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--container-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-pane, .right-pane {
  flex: 1; /* Ensure both panes take equal space by default */
}

.left-pane {
  background-color: var(--container-background);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-pane {
  padding: 20px 20px 20px 20px;
  background-color: var(--pane-background);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: flex-start;
}

.divider {
  width: 5px;
  background-color: var(--divider-color);
  cursor: ew-resize;
  z-index: 1;
}

h2 {
  margin-top: 0;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%; /* Make list take full width */
}

.todo-item {
  display: flex;
  flex-direction: column;
}

.todo-headline {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  background-color: var(--todo-background);
  border: 1px solid var(--todo-border);
  border-radius: 4px;
  cursor: pointer;
  color: var(--text-color);
  position: relative; /* For positioning delete button */
}

.todo-headline:focus {
  outline: none;
  border-color: var(--todo-focus-border);
}

.todo-item.selected > .todo-headline {
  background-color: var(--todo-selected-background);
  border-color: var(--todo-selected-border);
}

.todo-item.completed > .todo-headline {
  background-color: var(--todo-completed-background);
  color: var(--todo-completed-color);
  text-decoration: line-through;
}

/* Ensure completed items are below active items but above other completed items */
.todo-headline.completed {
  order: 1;
}

.todo-checkbox {
  margin-right: 10px;
}

.todo-text {
  flex: 1;
}

.nested-list {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid var(--todo-border);
  width: auto;
}

.nested-list.collapsed {
  display: none;
}

.nested-list.peek {
  display: block;
}

.todo-button {
  background-color: var(--button-background);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0px 20px 12px 0px;
}

.todo-button:hover {
  background-color: var(--button-hover-background);
}

.todo-button:active {
  background-color: var(--button-active-background);
}

.todo-buttons {
  display: flex;
  flex-direction: row;
}

#todo-filter {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  background-color: var(--container-background);
  color: var(--text-color);
  outline: none;
  font-family: monospace
}

#todo-title {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  background-color: var(--input-background);
  color: var(--text-color);
  outline: none;
}

#notes {
  width: 100%;
  height: calc(100% - 60px);
  padding: 10px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  background-color: var(--input-background);
  color: var(--text-color);
  resize: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 6px;
  border: 3px solid var(--scrollbar-track);
}

.collapse-button {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  margin-right: 10px;
}

.collapse-button:focus {
  outline: none;
}

.invisible {
  visibility: hidden;
}

.todo-count {
  -ms-flex-item-align: end;
}

.filter-excluded {
  display: none;
}

#main-list {
  padding: 0px 20px 0px 20px;
  margin-right: 20px;
  overflow-y: auto;
}

.controls {
  padding: 20px 30px 0px 20px;
  width: 100%;
}
